<!DOCTYPE html>
<html lang="en">
@@include("../../blocks/head.html")

<body>
<main class="wrapper">
  @@include("../../blocks/modules/navigation/navigation.html")

  <div class="main-panel">
    @@include("../../blocks/modules/header/header.html", {"title": "Index"})

    <div class="content">
      <div class="content">
        <div class="container-fluid">

          <!-- title -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons"><img src="img/icons/specification-xl.png" alt=""></i>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-md-12 d-flex justify-content-between align-items-center">
                      <h3 class="card-title">Analytics</h3>

                      <div>
                        <select class="selectpicker" data-size="7" data-style="btn btn-bordered btn-round"
                                title="Single Select">
                          <option value="1" selected>Last week</option>
                          <option value="2">Last month</option>
                          <option value="3">Last 3 month</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- tabs -->
          <div class="row">
            <div class="col-md-12">
              @@include("../../blocks/modules/tabs/tabs.html")
            </div>
          </div>

          <!-- table + map 1 -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon card-header-icon--inset">
                  <div class="inner-card-icon">
                    <img src="img/icons/bomb.png">
                  </div>
                  <h4 class="card-title">Attacks Blocked By Country</h4>
                </div>

                <div class="card-body">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-5">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">China</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Japan</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">United States (US)</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Bulgaria</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Singapore</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Singapore</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Other EU</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">France</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Thailand</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Romania</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Estonia</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-7">
                      <div class="card card-plain">
                        <div class="card-body ">
                          <div class="worldMapBlocked" style="height: 300px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <p class="card-category">
                    <a href="javascript:void(0)">API
                      <i class="material-icons">arrow_right</i>
                    </a>
                    <a href="javascript:void(0)">Help<i class="material-icons">arrow_right</i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- table + map 2 -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon card-header-icon--inset">
                  <div class="inner-card-icon">
                    <img src="img/icons/grid-world.png">
                  </div>
                  <h4 class="card-title">Web Traffic Requests by Country</h4>
                </div>

                <div class="card-body">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-5">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">United States (US)</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">United Kingdom (UK)</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">United States (US)</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">France</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Romania</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Germany</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Israel</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Netherlands</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Russia</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">China</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td class="font-weight-normal">Ukraine</td>
                          <td class="text-right">
                            137
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-7">
                      <div class="card card-plain">
                        <div class="card-body">
                          <div class="worldMapTraffic" style="height: 300px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <h6>Feature provided by Cloudflare</h6>
                  <p class="card-category">
                    <a href="javascript:void(0)">API
                      <i class="material-icons">arrow_right</i>
                    </a>
                    <a href="javascript:void(0)">Help<i class="material-icons">arrow_right</i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    @@include("../../blocks/modules/footer/footer.html")
  </div>
</main>
@@include("../../blocks/scripts.html")
</body>
</html>
