<!DOCTYPE html>
<html lang="en">
@@include("../../blocks/head.html")

<body>
<main class="wrapper">
  @@include("../../blocks/modules/navigation/navigation.html")

  <div class="main-panel">
    @@include("../../blocks/modules/header/header.html", {"title": "DNS"})

    <div class="content">
      <div class="content">
        <div class="container-fluid">

          <!-- title -->
          <div class="row">
            <div class="col-md-12">
              @@include("../../blocks/modules/card/card.html", {
              "icon": "img/icons/servers-xl.png",
              "title": "DNS"
              })
            </div>
          </div>

          <!-- form -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-title card-title-icon">
                    <img src="img/icons/db-plus-xl.png">
                    <p>
                      Create DNS record
                    </p>
                  </div>

                  <div class="form-horizontal">
                    <div>
                      <select class="selectpicker" data-size="7" data-style="btn btn-bordered btn-round"
                              title="Single Select">
                        <option value="1" selected>AAABBB</option>
                        <option value="2">ABABAB</option>
                        <option value="3">BBAABB</option>
                      </select>
                    </div>

                    <div>
                      <input class="form-control" type="text" placeholder="Name">
                    </div>

                    <div>
                      <input class="form-control" type="text" placeholder="Name">
                    </div>

                    <div>
                      <select class="selectpicker" data-size="7" data-style="btn btn-bordered btn-round"
                              title="Single Select">
                        <option value="1" selected>Automatic TTL</option>
                        <option value="2">Manual</option>
                      </select>
                    </div>

                    <div class="actions text-right">
                      <button type="submit" class="btn btn-primary btn-round btn-slim">
                        + Create DNS Record
                        <span class="ripple-container"></span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <h6>Feature provided by Cloudflare</h6>
                  <p class="card-category">
                    <a href="javascript:void(0)">API
                      <i class="material-icons">arrow_right</i>
                    </a>
                    <a href="javascript:void(0)">Help<i class="material-icons">arrow_right</i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-title card-title-icon">
                    <img src="img/icons/db-xl.png">
                    <p>
                      DNS records
                      <span class="subtitle">Manage your Domain Name System (DNS) settings</span>
                    </p>
                  </div>

                  <div class="table-responsive">
                    <table class="table editable">
                      <thead>
                      <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Content</th>
                        <th>TTL</th>
                        <th>Proxied</th>
                        <th class="actions-heading">Actions</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr>
                        <td><input class="form-control" readonly type="text" value="AAABBB"></td>
                        <td><input class="form-control" readonly type="text" value="parentsoutloud.com"></td>
                        <td><input class="form-control" readonly type="text" value="185.17.252.200"></td>
                        <td><input class="form-control" readonly type="text" value="Automatic TTL"></td>
                        <td></td>
                        <td class="actions">
                          <div>
                            <a href="javascript:void(0)" class="edit"><img src="img/icons/pencil.png"></a>
                            <a href="javascript:void(0)" class="delete"><img src="img/icons/delete-button.png"></a>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td><input class="form-control" readonly type="text" value="AAABBB"></td>
                        <td><input class="form-control" readonly type="text" value="parentsoutloud.com"></td>
                        <td><input class="form-control" readonly type="text" value="185.17.252.200"></td>
                        <td><input class="form-control" readonly type="text" value="Automatic TTL"></td>
                        <td></td>
                        <td class="actions">
                          <div>
                            <a href="javascript:void(0)" class="edit"><img src="img/icons/pencil.png"></a>
                            <a href="javascript:void(0)" class="delete"><img src="img/icons/delete-button.png"></a>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td><input class="form-control" readonly type="text" value="AAABBB"></td>
                        <td><input class="form-control" readonly type="text" value="parentsoutloud.com"></td>
                        <td><input class="form-control" readonly type="text" value="185.17.252.200"></td>
                        <td><input class="form-control" readonly type="text" value="Automatic TTL"></td>
                        <td></td>
                        <td class="actions">
                          <div>
                            <a href="javascript:void(0)" class="edit"><img src="img/icons/pencil.png"></a>
                            <a href="javascript:void(0)" class="delete"><img src="img/icons/delete-button.png"></a>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card-footer">
                  <h6>Feature provided by Cloudflare</h6>
                  <p class="card-category">
                    <a href="javascript:void(0)">API
                      <i class="material-icons">arrow_right</i>
                    </a>
                    <a href="javascript:void(0)">Help<i class="material-icons">arrow_right</i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    @@include("../../blocks/modules/footer/footer.html")
  </div>
</main>
@@include("../../blocks/scripts.html")
</body>
</html>
