<div class="card">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon">
      <i class="material-icons"><img src="@@icon" alt=""></i>
    </div>
    @@if (context.body) {
      <h4 class="card-title">@@title</h4>
    }
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-md-12 d-flex justify-content-between align-items-center">
        @@if (!context.body) {
        <h3 class="card-title">@@title</h3>
        }
        @@if (context.body) {
          <p>@@body</p>
        }
      </div>
    </div>
  </div>
</div>
